global
  log 127.0.0.1 local0 info
  chroot /var/lib/haproxy
  user haproxy
  group haproxy

listen stats
  bind  *:20000
  mode  http
  stats enable
  stats refresh 3s
  stats uri /
  timeout client 10000
  timeout connect 10000
  timeout server 30000
  stats auth guest:guest

listen rabbitmq-tcp
  bind    *:5672
  mode    tcp
  log global
    retries 4
    option tcplog
  option persist
  balance roundrobin
  server  rabbitmq1 rabbitmq1:5672 check inter 5s rise 2 fall 5
  server  rabbitmq2 rabbitmq2:5672 check inter 5s rise 2 fall 5
  server  rabbitmq3 rabbitmq3:5672 check inter 5s rise 2 fall 5
  server  rabbitmq4 rabbitmq4:5672 check inter 5s rise 2 fall 5
